<h2>Welcome to your profile page, <%= current_user.name %></h2>


<div>
  <% if current_user.items.length > 0 %>
    <ul>
      <%current_user.items.each do |item| %>
        <%= item.name %>
      <% end %>
    </ul>
  <% end %>

  <a href="">+add an item to auction</a>
</div>
