
<div id="aurora-page" class="container">
  <h1>Welcome!</h1>
  <table>
    <form action="/events" method="post">
      <input type="submit" value="find an aurora event!">
    </form>
  </table>
  <img id="aurora-pic" src="images/multicolor.jpg">
</div>
