
<div  class="container">
  <div id="button-section">
  <h1 >Find the most likely location for an aurora borealis on earth right now</h1>

    <form action="/events" method="post">
      <input id="go-button" type="submit" value="Go!">
    </form>

  </div>
  <img id="aurora-pic" src="images/multicolor.jpg">
</div>
